<h1>El dni solicitado es: </h1>
<ul>
    <li><span>DNI: </span>{{ DNI.dni }}</li>
    <li><span>Nombre: </span>{{DNI.nombre }}</li>
    <li><span>Apellido: </span>{{DNI.apellido }}</li>
    <li><span>Genero: </span>{{DNI.genero }}</li>
    <li><span>Nacionalidad: </span>{{DNI.nacionalidad }}</li>
    <li><span>Fecha De Nacimiento: </span>{{ DNI.fechaDeNacimiento.dia + '/' + DNI.fechaDeNacimiento.mes + '/' + DNI.fechaDeNacimiento.anio}}</li>
    <li><span>Numero De Tramite: </span>{{DNI.numeroDeTramite}}</li>
</ul>